a{
    text-decoration: none;
    color: black;
  }
.Login{
    display: flex;
    margin: auto;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: #ffffff;
    margin-top: 51px;
    flex-direction: column;
    border:none;
    border-radius: 16px;
    padding-bottom: 10px;
    padding: 20px 5px;
    box-shadow: 0 0 128px 0 rgb(0 0 0 / 10%), 0 32px 64px -48px rgb(0 0 0 / 50%);}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 5px;
    background: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 20px 20px 0px 0px;
}
.section{
    padding: 15px 25px;
    border-top: 2px solid #0000001f;
}
.nametab{
    display: flex;
}
.inputlable{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input{
    color: black;
    padding: 10px;
    border-radius: 5px;
    border: 0.1px solid #00000024;
    margin: 4px;
    font-size: medium;
    width: -webkit-fill-available;
    outline: none;
}
.submitbutton{
    background: black;
    color: white;
    padding: 10px;
    font-size: large;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px;
    border: none;
    width: -webkit-fill-available;
    cursor: pointer;
}
label{
    margin-left: 6px;
    font-size: medium;
    font-weight: 500;
}
span{
    cursor: pointer;
}
@media only screen and (max-width: 768px){
    .nametab{
        flex-direction: column;
    }
    .Login{
        width: -webkit-fill-available;
        margin: 8px;
        height: fit-content;
    }
}